import streamlit as st
from PIL import Image

from deep_translator import GoogleTranslator
import tempfile
import asyncio
import os
from dotenv import load_dotenv
import google.generativeai as genais

streamlit
gTTS==2.3.2
deep-translator
Pillow
python-dotenv
google-generativeai
